/*======= Header  =======*/
.header-area {
    .navbar {
        border-bottom: 1px solid $color-gray;
        padding-bottom: 23px;
        .navbar-brand {
            .logo-image {
                margin-right: 16px;
            }
            font-family: $font-ubuntu;
            font-weight: 500;
            font-size: 42px;
            line-height: 0.77;
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 16px 20px;
                        color: $color-black;
                    }
                    .active {
                        color: $color-main;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 1.35;
                    }
                    .common-button {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}
